.bd-home #newApply {
    margin: 3px 0px 0px 0px;
    display: none;
}

.bd-home .apply-price {
    margin: 10px;
}

.bd-home .cinema, .bd-home .price-state {
    margin-left: 20px;
}

.bd-home .apply-price .pager {
    display: inline-block;
    margin-left: 40px;
}

.bd-home .page-left {
    display: inline-block;
}

.bd-home .page-seg {
    float: right;
    margin-right: 20px;
}

.bd-home .page-seg .pager {
    margin: 0;
}

.bd-home #jumpPages {
    width: 50px;
}

.bd-home #waitOnlineTable {
    margin-top: 20px;
}

.bd-home .table-align {
    margin: 10px;
    width: 98%;
    font-size: x-small;
}

.bd-home .table-align td, .bd-home th {
    text-align: center;
    vertical-align: middle;
}

.bd-home #priceApplyRecord .modal-body p > span {
    width: 20%;
    display: inline-block;
}

.bd-home #priceApplyRecord .modal-body p > span:nth-child(3) {
    width: 59%;
    float: right;
    text-align: right;
}

.bd-home #newApplyOnline {
    float: right;
    margin: 10px;
}

.bd-home .tble .lefttble {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
}

.bd-home .tble .righttble {
    text-align: left;
    display: inline-block;
    width: 59%;
}

.bd-home .tble div {
    margin: 10px 0px;
}

.bd-home .noData, .bd-home .leftDays, .bd-home .required {
    color: red;
}

.bd-home .priceApplyRecord {
    margin-left: 10px;
}

.bd-home .tr-backgroundColor {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#2bb8aa));
}

.bd-home #uploadPicBtn {
    display: none;
}

.bd-home #loading, .bd-home #onlineLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 1000;
    display: none;
}

.bd-home .warning-message {
    text-align: center;
    color: red;
}

.bd-home .btn-group-customer {
    float: right;
    display: inline-block;
    margin-bottom: 2px;
}

.bd-home .cinema-name {
    font-size: 18px;
    display: inline-block;
}

.bd-home .contract div, .bd-home .com-margin div {
    margin: 10px 0px;
}

.bd-home .margin-left-10 {
    margin-left: 10px;
}

.bd-home .contacts-margin {
    margin-left: 84px;
}

.bd-home #onlineCinemaModal {
    overflow: auto;
}

.bd-home .inform-message {
    float: left;
    display: inline-block;
    width: 580px;
    text-align: left;
}

.bd-home #addCinema {
    float: right;
}

.bd-home .displayNone {
    display: none;
}

.bd-home #contractSeg > div, .bd-home .cinemaCon .panel-body > div {
    margin: 10px 0px;
}

.bd-home .cinema-seg-block {
    display: inline-block;
    width: 250px;
}

.bd-home .cinemaCon .cinemaName {
    line-height: 25px;
}

.red-tip {
    color: red;
}

#showRivalHall .modal-dialog {
    min-width: 700px;
}

.form {
    margin: 0 0 10px 0;
    position: relative;
}
.form .form-field {
    position: relative;
    padding: 5px 0 5px 110px;
}
.form .form-field .form-label {
    position: absolute;
    left: 0;
    width: 100px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.form .form-field .form-text {
    font-size: 16px;
    width: 248px;
    height: 24px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
}
.form .form-field .inline-tip {
    display: inline-block;
    _display: inline;
    text-align: center;
    width: auto;
    padding: 5px;
    margin-left: 10px;
    color: #fff;
    background: #73C0CA;
}

/*# sourceMappingURL=home.css.map */
