.my-page-content {
  position: absolute;
  top: 60px;
  right: 0;
  left: 180px;
  bottom: 50px;
  padding-top: 40px;
  overflow: auto;
  color: #777;
}
.my-page-content > div {
  padding-left: 10px;
  padding-right: 10px;
}
.my-page-content .my-page-header {
  padding-left: 0;
  padding-right: 0;
}
.page-title {
  font-size: 20px;
  margin-top: 10px;
}
