#competitivePrice .competitivePrice__search--bar {
    margin-top: 20px;
}
#competitivePrice .time--line, #competitivePrice .cinema--line {
    margin-left: 5px;
}
#competitivePrice .time--select {
    margin-right: 10px;
}
#competitivePrice .cinema--line .type--select, #competitivePrice .cinema--line .cinema--input {
    margin-right: 10px;
}
#competitivePrice #showHandleUpdate label {
    margin: 0 5px 0 0;
}
#competitivePrice #showHandleUpdate .status--not__reason label, #competitivePrice #showHandleUpdate .notweak__reason label {
    display: block;
}
#competitivePrice #showHandleUpdate .upload--file {
    position: relative;
    top: -30px;
    height: 30px;
    width: 70px;
    opacity: 0;
    cursor: pointer;
}
#competitivePrice #showHandleUpdate textarea {
    width: 350px;
    height: 100px;
}
#wrap-table-statistics td{
    cursor: pointer;
}
